<h1>Restaurants</h1>
<p>Hello from restaurants#index</p>

<% if @restaurants.empty? %>
  <p>Sorry we couldn't find any restaurant!</p>
<% else %>
  <ul>
    <% @restaurants.values.each do |restaurant| %>
      <li>Name: <%= restaurant[:name] %>, Address: <%= restaurant[:address] %>, Category: <%= restaurant[:category].capitalize %></li>
    <% end %>
  </ul>
<% end %>


